@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,900');
body{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.6;
	color: #fff;
	background-color: #1f2029;
	overflow: hidden;
	height: 100vh;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	perspective: 800px;
}
a {
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
::selection {
	color: #c4c3ca;
	background-color: #000;
}
::-moz-selection {
	color: #c4c3ca;
	background-color: #000;
}

/* #Cursor
================================================== */

.cursor,
.cursor2,
.cursor3{
	position: fixed;
	border-radius: 50%;	
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%;
	mix-blend-mode: difference;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.cursor{
	background-color: #fe4164;
	height: 0;
	width: 0;
	z-index: 99999;
}
.cursor2,.cursor3{
	height: 36px;
	width: 36px;
	z-index:99998;
	-webkit-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}
.cursor2.hover,
.cursor3.hover{
	-webkit-transform:scale(2) translateX(-25%) translateY(-25%);
	transform:scale(2) translateX(-25%) translateY(-25%);
	border:none
}
.cursor2{
	border: 2px solid #fff;
}
.cursor2.hover{
	background: rgba(255,255,255,1);
	border-color: transparent;
}

@media screen and (max-width: 1200px){
	.cursor,.cursor2,.cursor3{
		display: none
	}
}

/* #Primary style
================================================== */

.hero-section {
    position: relative;
	height: 100vh;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 100vh;
    background-image:linear-gradient(to bottom, rgba(8, 10, 24, 0.8), rgba(10, 10, 10, 0.9)),
    url('../images/lap2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transform: scale(1) rotateX(0);
	box-shadow: 0 0 40px rgba(0,0,0,0.2);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms;
	transform-origin: center top;
}
.hero-section h1{
    color: #fff;
	font-size: 6vw;
	line-height: 1;
	font-weight: 400;
	animation: glow 1.5s ease-in-out infinite alternate;
}
@keyframes glow{
	from {
		text-shadow: 0 0 10px  #1041FF,0 0 20px  #1041FF,0 0 40px  #1041FF,0 0 80px darkred;
		color: #28D7FE
	  }
	  
	  to {
		text-shadow: 0 0 10px  #082180,0 0 20px  #082180,0 0 40px #082180,0 0 80px  #082180;
		color: #146C80;
	  }
}
.hero-section .dancing{
    font-family: 'VT323', monospace;
	letter-spacing: 1px;
	color: #866BAF;
	font-size: 26px;
	line-height: 1;
	font-weight: 700;
}
@media screen and (max-width: 580px){
	.hero-section .dancing{
		font-size: 18px;
	}
}
.hero-section p{
	font-size: 35px;
	line-height: 20px;
	font-weight: 500;
	color: #ceff0a;
    font-family: 'VT323', monospace;
	letter-spacing: 1px;
}
.hero-section p span{
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	padding-bottom: 35px;
}
.hero-section p span:before {
	position: absolute;
	content: '';
	bottom: 10px;
	left: 50%;
	height: 30px;
	width: 30px;
	margin-left: -15px;
	z-index: -1;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px 30px;
	background-image: url('http://www.ivang-design.com/svg-load/portfolio/down.svg');
	opacity: 0.2;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
.hero-section p span:hover:before {
	opacity: 1;
	bottom: 5px;
}

body.about-on .hero-section {
	/* transform: scale(0.75); */
    transform: rotateY(-20deg);
	-webkit-transition-delay: 0ms;
	transition-delay: 0ms;
}
body.contact-on .hero-section {
	/* transform: scale(0.75); */
    transform: rotateY(20deg);
	-webkit-transition-delay: 0ms;
	transition-delay: 0ms;
}
body.projects-on .hero-section {
	transform: rotateX(-20deg);
	-webkit-transition-delay: 0ms;
	transition-delay: 0ms;
}
.hobbies-on .hero-section {
	transform: rotateX(-20deg);
	-webkit-transition-delay: 0ms;
	transition-delay: 0ms;
}
body.gallery-on .hero-section {
	transform: rotateX(-20deg);
	-webkit-transition-delay: 0ms;
	transition-delay: 0ms;
}
.about-text {
    position: absolute;
	font-size: 30px;
	line-height: 20px;
	font-weight: 700;
	color: #04d9ff;
	letter-spacing: 2px;
	top: 50%;
	left: 40px;
	cursor: pointer;
	z-index: 2;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	transform: translateY(-50%);
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
    font-family: 'VT323', monospace;
}
.about-text:before {
	position: absolute;
	content: '';
	top: 50%;
	left: -25px;
	height: 30px;
	width: 30px;
	margin-top: -15px;
	z-index: -1;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px 30px;
	background-image: url('http://www.ivang-design.com/svg-load/portfolio/left.svg');
	opacity: 0.2;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
    font-family: 'VT323', monospace;
}
.about-text:hover:before {
	opacity: 1;
	left: -30px;
}
.about-section {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 100vh;
	background-color: rgb(16, 20, 44);
	transform: translateX(-100%);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	z-index: 10;
}
body.about-on .about-section {
	transform: translateX(0);
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms;
}
.about-close {
    position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	display: block;
	overflow: hidden;
	height: 30px;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px 36px;
	background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg');
	cursor: pointer;
	z-index: 20;
}
.about-close:hover {
    transform: rotate(90deg);
}
.section-center {
    position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}
.about-section img {
    width: 200px;
	height: 200px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
	position: relative;	
}
.about-section span {
    font-family: 'Dancing Script', cursive;
	letter-spacing: 1px;
	color: #fff;
	font-size: 25px;
	font-weight: 400;
    font-family: 'VT323', monospace;
}
.about-section p{
	font-size: 20px;
	color: rgb(71, 172, 255);
	text-shadow: 0 0 10px rgb(52, 157, 255),0 0 20px rgb(54, 91, 255),0 0 40px rgb(20, 177, 240),0 0 80px rgb(32, 128, 238);
}



.contact-text {
    position: absolute;
	font-size: 30px;
	line-height: 20px;
	font-weight: 700;
	color: #04d9ff;
	letter-spacing: 2px;
	top: 50%;
	right: 40px;
	cursor: pointer;
	z-index: 2;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	transform: translateY(-50%) rotate(180deg);
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
    font-family: 'VT323', monospace;
}
.contact-text:before {
	position: absolute;
	content: '';
	top: 50%;
	left: -25px;
	height: 30px;
	width: 30px;
	margin-top: -15px;
	z-index: -1;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px 30px;
	background-image: url('http://www.ivang-design.com/svg-load/portfolio/left.svg');
	opacity: 0.2;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
.contact-text:hover:before {
	opacity: 1;
	left: -30px;
}
.contact-section {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 100vh;
	background-color: rgb(16, 20, 44);
	transform: translateX(100%);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	z-index: 10;
}
.contact-section h2{
	font-family: 'VT323', monospace;
	font-size: 45px;
	--interval: 1s;
	color: yellow;
	will-change: filter,color;
	filter: saturate(60%);
	animation: flicker steps(100) var(--interval) 1s infinite;
}
@keyframes flicker{
	0%, 18%, 22%, 25%, 53%, 57%, 100% {

		text-shadow: 0 0 10px goldenrod, 0 0 20px orangered, 0 0 40px mediumblue, 0 0 80px purple;

	
	}
	
	20%, 24%, 55% {        
		text-shadow: none;
	} 
}
body.contact-on .contact-section {
	transform: translateX(0);
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms;
}
.contact-close {
    position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	display: block;
	overflow: hidden;
	height: 30px;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px 36px;
	background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg');
	cursor: pointer;
	z-index: 11;
}
.contact-close:hover {
    transform: rotate(90deg);
}
.contact-section a{
    margin: 0 auto;
	font-size: 40px;
	font-weight: 900;
	letter-spacing: 1px;
	color: rgb(71, 172, 255);
	text-shadow: 0 0 10px rgb(12, 104, 190),0 0 20px rgb(54, 91, 255),0 0 40px rgb(7, 139, 192),0 0 80px rgb(9, 77, 155);
    font-family: 'VT323', monospace;
  display: inline-block;
}
.contact-section .social a{
    margin-left: 8px;
	margin-right: 8px;
	font-size: 25px;
	font-weight: 600;
	letter-spacing: 1px;
	color: rgb(71, 172, 255);
	text-shadow: 0 0 10px rgb(52, 157, 255),0 0 20px rgb(54, 91, 255),0 0 40px rgb(20, 177, 240),0 0 80px rgb(32, 128, 238);
}
@media screen and (max-width: 580px){
	.contact-section a{
		font-size: 17px;
	}
	.contact-section .social a{
		margin-left: 3px;
		margin-right: 3px;
		font-size: 13px;
		letter-spacing: 0;
	}
}

.projects-section,
.hobbies-section,
.gallery-section {
    position: fixed;
	top: 100%;
	left: 0;
	padding: 100px 0;
	width: 100%;
	height: 100vh;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgb(16, 20, 44);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	z-index: 10;
}
.projects-close,
.hobbies-close,
.gallery-close {
    position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	display: block;
	overflow: hidden;
	height: 30px;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px 36px;
	background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg');
	cursor: pointer;
	z-index: 11;
}
.projects-close:hover,
.hobbies-close:hover,
.gallery-close:hover {
    transform: rotate(90deg);
}
.projects-section p {
 margin-top: 10px;
}
.projects-section p a{
    font-size: 20px;
}
.hobbies-section p{
    font-size: 25px !important;
}


body.projects-on .projects-section {
	top: 0;
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms;
}
body.hobbies-on .hobbies-section {
	top: 0;
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms;
}
body.gallery-on .gallery-section {
	top: 0;
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms;
}
.projects-section img,
.hobbies-section img,
.gallery-section img {
	margin-top: 30px;
    width: 100%;
	height: auto;
	display: block;
	border-radius: 4px;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
    transition: 300ms ease;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.projects-section img:hover,.gallery-section img:hover{
	box-shadow: 0 0 15px 4px #2970c0,0 0 120px 2px #1f3e92,inset 0 0 15px 4px #92269c,inset 0 0 100px 2px #341ead;
	transform: scale(1.03);
}

.projects-section h3,
.hobbies-section h3,
.gallery-section h3 {
	font-family: 'VT323', monospace;
	font-size: 45px;
	--interval: 1s;
	color: yellow !important;
	will-change: filter,color;
	filter: saturate(60%);
	animation: flicker steps(100) var(--interval) 1s infinite;
}
.projects-section p,
.hobbies-section p,
.gallery-section p {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 1px;
}
.projects-section p span,
.hobbies-section p span,
.gallery-section p span {
	font-size: 20px;
	line-height: 1.3;
	font-weight: 700;
	color: #866BAF;
}
/* #Link to page
================================================== */

.link-to-portfolio {
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%,-90%);
    z-index: 200;
    cursor: pointer;
    text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	--interval: 300ms;
	color: rgb(247, 138, 170);
	will-change: filter,color;
	filter: saturate(80%);
	animation: flicker-footer steps(100) var(--interval) 300ms infinite;
	
}
@keyframes flicker{
	0%, 18%, 22%, 25%, 53%, 57%, 100% {

		text-shadow: 0 0 10px goldenrod, 0 0 20px orangered, 0 0 40px mediumblue, 0 0 80px purple;

	
	}
	
	20%, 24%, 55% {        
		text-shadow: none;
	} 
}
@keyframes flicker-footer{
	0%, 18%, 22%, 25%, 53%, 57%, 100% {

		text-shadow: 0 0 10px rgb(253, 108, 222), 0 0 20px rgb(250, 47, 125), 0 0 40px rgb(0, 123, 205), 0 0 80px rgb(252, 39, 156);

	
	}
	
	20%, 24%, 55% {        
		text-shadow: none;
	} 
}
